/*** 

====================================================================
    Banner Section
====================================================================

***/

.banner-section {
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        min-height: 770px;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                background-color: var(--bg-theme-color1);
                opacity: .60;
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        padding: 280px 0 100px;
        text-align: center;
        .sub-title{
            position: relative;
            display: inline-block;
            line-height: 30px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .07em;
            margin-bottom: 15px;
        }
        .title{
            text-transform: uppercase;
            font-weight: 500;
            color: #ffffff;
            letter-spacing: .02em;
            margin-bottom: 35px;
        }
        .btn-box{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
}

/* Animate 1 */
.owl-carousel{
    .animate-7,
    .animate-6,
    .animate-5,
    .animate-4,
    .animate-3,
    .animate-2,
    .animate-1{
        opacity: 0;
        transform: translateY(100px);
        transition: all 500ms ease;
    }
    .animate-x {
        opacity: 0;
        transform: translateX(100px);
        transition: all 500ms ease;
    }
    
    .active{
        .animate-7,
        .animate-6,
        .animate-5,
        .animate-4,
        .animate-3,
        .animate-2,
        .animate-1 {
            opacity: 1;
            transform: translateY(0);
        }
        .animate-2 {
            transition-delay: 300ms;
        }
        .animate-3 {
            transition-delay: 600ms;
        }
        .animate-4 {
            transition-delay: 900ms;
        }
        .animate-5 {
            transition-delay: 1200ms;
        }
        .animate-6 {
            transition-delay: 1500ms;
        }
        .animate-7 {
            transition-delay: 1800ms;
        }
    }
}


.banner-carousel .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .owl-next,
    .owl-prev {
        display: block;
        margin: 10px 0;
        height: 50px;
        width: 50px;
        color: var(--theme-color1);
        border-radius: 50%;
        background-color: rgba(255,255,255,1);
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        opacity: .20;
        transition: all 500ms ease;
        &:hover {
            opacity: 1;
        }
    }
}

/*** 

====================================================================
    Banner Section Two
====================================================================

***/

.banner-section-two{
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        height: 770px;
        padding: 225px 0;
        text-align: right;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                background-color: var(--bg-theme-color1);
                opacity: .60;
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        z-index: 2;
        text-align: left;        
        display: inline-block;
        .inner{
            position: relative;
            text-align: right;
        }
        .sub-title {
            position: relative;
            display: inline-block;
            text-align: left;
            font-size: 16px;
            color: #ffffff;
            line-height: 22px;
            font-weight: 400;
            padding: 5px 20px;
            text-transform: uppercase;
            background-color: rgba(255,255,255,.10);
            letter-spacing: .1em;
            margin-bottom: 10px;
        }

        .title {
            font-size: 150px;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: .08em;
            font-weight: 700;
        }
        h3{
            position: relative;
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;
            margin-top: -15px;
            margin-bottom: 30px;
        }
    }
    .banner-carousel .owl-nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: -70px;
        .owl-next{
            margin: 5px 0;
        }
    }
}
